{% extends "base.html" %}

{% block title %}سامانه مدیریت بسیج{% endblock %}


{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow-lg border-0">
                <div class="card-body p-5">
                    <h1 class="display-6 mb-4 text-primary text-center">انتخاب بخش سامانه نور</h1>

                    <div class="row g-4 mt-2">
                        <div class="col-md-6">
                            <div class="card h-100 border-success">
                                <div class="card-body text-center">
                                    <h3 class="card-title">
                                        <i class="bi bi-door-open fs-1 text-success"></i>
                                    <h4 class="mb-3">مسیر نور</h4>
                                    <p class="text-muted">سامانه احراز هویت بسیج دانشجویی</p>
                                    <p> </p>
                                    <div class="d-grid gap-2">
                                        <a href="/ui-auth/login" class="btn btn-primary">ورود</a>
                                        <a href="/ui-auth/register" class="btn btn-success">ثبت‌نام</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card h-100 border-primary">
                                <div class="card-body text-center">
                                    <h3 class="card-title">
                                        <i class="bi bi-door-open fs-1 text-success"></i>
                                    <h4 class="mb-3">آموزش نور</h4>
                                    <p class="text-muted">سامانه ثبت‌نام کلاس قرآن</p>
                                    <p>برای ثبت درخواست کلاس قرآن، وارد این بخش شوید.</p>
                                    <p> </p>
                                    <a href="{{ request.url_for('quran_class_request_page') }}" class="btn btn-outline-primary w-100">ثبت درخواست</a>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="mt-4 text-center">
                        <a href="http://kerman_bd/" class="btn btn-outline-danger">خروج</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}